body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.menu {
  width: 250px;
  background-color: #232a34;
  min-height: 100%;
  position: absolute;
}
.content {
  width: calc(100% - 250px);
  margin: 0 0 0 250px;
  background-color: dark-background;
}
